<div class="main_container">
  <div class="inner">
    <div class="form_start">
      <%= form_for @lecture do |f| %>
        <%= f.select :faculty_id, options_for_select(Role.find_by(name: "faculty").users.order(:name).map{|s|[s.name, s.id]}), required: true,  prompt: "Please Select Faculty" %><br/>
        <%= f.select :faculty_subject_id, options_for_select(FacultySubject.all.map{|s|[s.subject.name, s.id]}), required: true,  prompt: "Please Select Subject" %><br/><br>
        <div class="submit_container">
          <%= f.submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  function get_subject(faculty_id){
    $.get("/get_subject", {faculty_id: faculty_id}, function(data){
      var $subject = $('#lecture_faculty_subject_id');
      $subject.empty();
      for (var i = 0; i < data.subjects.length; i++) {
        $subject.append('<option value='+data.subjects[i][1]+'>'+data.subjects[i][0]+'</option>');
      }
    }, "json");
  }

  $(document).ready(function () {
    $("#lecture_faculty_id").change(function () {
      var val = $(this).val();
      get_subject(val);
    });
  });
</script>
