<div class="welcom_admin">
  <div class="welcom_admin_inner">
    <div class="heding_top">
      <span>Attendance According to Subjects</span>
    </div>
    <div class="bar_part">
      <div class="row">
        <div class="col-sm-12">
          <h4 class="result">ALL SUBJECTS</h4>
            <div class="flex_container">
              <div class="item_">MATHS</div>
              <div class="item_2 full">
                <div class="progress" style="height:8px">
                  <div class="progress-bar" style="width:73%;height:8px"></div>
                </div>
              </div>
              <div class="item_2">73%</div>
            </div>
            <div class="flex_container">
              <div class="item_">CHEMISTRY</div>
              <div class="item_2 full">
                <div class="progress" style="height:8px">
                  <div class="progress-bar" style="width:80%;height:8px"></div>
                </div>
              </div>
              <div class="item_2">80%</div>
            </div>
            <div class="flex_container">
              <div class="item_">PHYSICS</div>
              <div class="item_2 full">
                <div class="progress" style="height:8px">
                  <div class="progress-bar" style="width:75%;height:8px"></div>
                </div>
              </div>
              <div class="item_2">75%</div>
            </div>
            <div class="flex_container">
              <div class="item_">CCPC</div>
              <div class="item_2 full">
                <div class="progress" style="height:8px">
                  <div class="progress-bar" style="width:93%;height:8px"></div>
                </div>
              </div>
              <div class="item_2">93%</div>
            </div>
            <div class="flex_container">
              <div class="item_">MECHANICS</div>
              <div class="item_2 full">
                <div class="progress" style="height:8px">
                  <div class="progress-bar" style="width:70%;height:8px"></div>
                </div>
              </div>
              <div class="item_2">70%</div>
            </div>
            <div class="flex_container">
              <div class="item_">ENGINEERING ECONOMICS</div>
              <div class="item_2 full">
                <div class="progress" style="height:8px">
                  <div class="progress-bar" style="width:80%;height:8px"></div>
                </div>
              </div>
              <div class="item_2">80%</div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
