<div class="welcom_admin">
  <div class="welcom_admin_inner">
    <div class="heding_top">
      <span>Overview of Student</span>
    </div>
    <div class="role">
      <p>Role</p>
      <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">HTML</a></li>
      <li><a href="#">CSS</a></li>
      <li><a href="#">JavaScript</a></li>
    </ul>
  </div>
    </div>
    
  </div>
</div>
