<div class="welcom_admin">
  <div class="welcom_admin_inner">
    <div class="heding_top">
      <span>Faculties and Students</span>
      <%= link_to( 'Add new User',new_hod_user_path ) %>
    </div>
    <% if params[:type].eql?('faculty') %>
      <%= render 'faculties', faculties: @faculties %>
    <% elsif params[:type].eql?('student') %>
      <%= render 'students', students: @students %>
    <% else %>
      <%= render 'faculties', faculties: @faculties %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("#faculty_table").dataTable();
  });

  $(document).ready(function() {
    $("#student_table").dataTable();
  });
</script>
