<li><%= link_to( 'My details', student_details_path ) %></li>
<li><%= link_to( 'My Attendance', student_attendances_path ) %></li>
<li><%= link_to( 'My Marks', student_marks_path ) %></li>
<li><%= link_to( 'All Assignments', student_assignments_path ) %></li>
