<div class="home-marque">
  <marquee direction="left", scrollamount="14">
    <span>Welcome To the College Student Portal</span>
  </marquee>
</div>
<div class="home-marque">
  <marquee direction="right", scrollamount="20">
    <span>Made by Madhusudhan Sharma</span>
  </marquee>
</div>
<div class="login-txt">
  <% if !user_signed_in? %>
    <span>
      If you want to login then <%= link_to "click here", new_user_session_path %>
    </span>
  <% end %>
</div>
