<div class="main_container">
  <div class="inner">
    <div class="form_start">
      <%= form_for([:hod, @faculty_subject]) do |f| %>
        <%= f.select :faculty_id, options_for_select(User.where(role: "faculty").where(department_id: current_user.department_id).order(:name).map{|s|[s.name.titleize, s.id]}, @faculty_subject&.faculty_id),  prompt: "Please Select Faculty" %><br/>
        <%= f.select :subject_id, options_for_select(Subject.all.where(department_id: current_user.department_id).map{|s|[s.name, s.id]}, @faculty_subject&.faculty_id),  prompt: "Please Select Subject" %><br/><br>
        <div class="submit_container">
          <%= f.submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>
